<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hola Sinatra</title>
</head>
<body>
	<% if nombre != @nombre
		puts "desconocido!"%>
  <h1>Hola <%= @nombre %></h1>
</body>
</html>